@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  height: calc(100vh - 152px);
  width: 100%;
}

/* Sovrascrivi l'altezza per schermi md o superiori */
@media (min-width: 768px) {
  .map-container {
    height: calc(100vh - 72px);
    width: 100%;
  }
}

.rounded-corner {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Sovrascrivi l'altezza per schermi md o superiori */
@media (min-width: 768px) {
  .rounded-corner {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}

.sidebar-container {
  width: 600px;
}

/* Sovrascrivi l'altezza per schermi md o superiori */
@media (min-width: 768px) {
  .sidebar-container {
    width: 100%;
  }
}

.scrollable-content {
  max-height: 300px;
  /* Imposta l'altezza massima desiderata per la modal */
  overflow-y: auto;
  /* Abilita lo scroll verticale se il contenuto supera l'altezza massima */
}