@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  height: calc(100vh - 152px);
}

/* Sovrascrivi l'altezza per schermi md o superiori */
@media (min-width: 768px) {
  .map-container {
    height: calc(100vh - 72px);
  }
}
